Repository softDsim/softDsim, pull requests merged in 2022-06, with the labels that each got.

#294 255 simulation rework
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Action.jsx
  frontend/src/components/ActionSelect.jsx
  frontend/src/components/ActionSlider.jsx
  frontend/src/components/ActionToggle.jsx
  frontend/src/components/ModelSelection.jsx
  frontend/src/components/Question.jsx
  frontend/src/components/RadioButton.jsx
  frontend/src/index.jsx
  frontend/src/pages/Simulation.jsx
Labels: Frontend

#298 task: #297 - Model data will now be displayed in simulation
  frontend/src/components/ModelSelection.jsx
  frontend/src/pages/Simulation.jsx
Labels: Frontend

#303 task: #299 - handling scenario id error and sending data of model sel…
  frontend/src/pages/Simulation.jsx
Labels: Frontend

#302 Feature: 250 Endpoint to Create Template from Studio
  backend/app/api/endpoints.py
  backend/app/api/views/template_scenario.py
  backend/app/models/template_scenario.py
  backend/app/serializers/template_scenario.py
  frontend/src/pages/ScenarioStudio.jsx
Labels: Backend

#323 Feature: 306 Result Table
  backend/app/api/endpoints.py
  backend/app/dto/response.py
  backend/app/models/task.py
  backend/app/src/simulation.py
  backend/app/src/util/simulation_util.py
  backend/app/src/util/task_util.py
  backend/app/src/util/user_scenario_util.py
  backend/history/models/result.py
  backend/history/serializers/result.py
  backend/history/util/__init__.py
  backend/history/util/result.py
  backend/history/view.py
Labels: Backend

#326 Task #325 remove csrf protection
  backend/app/api/endpoints.py
  backend/app/api/security/authentication.py
  backend/app/api/security/security.py
  backend/app/api/views/scenario_config.py
  backend/app/api/views/simulation.py
  backend/app/api/views/team.py
  backend/app/api/views/user.py
  backend/app/api/views/user_scenario.py
  backend/history/view.py
  backend/softDsim/settings.py
  backend/tests/test_api/test_api.py
  backend/tests/test_api/test_rest_api.py
Labels: Backend

#329 Fix: 327 Redirect Foreign Keys
  backend/app/api/views/simulation.py
  backend/app/api/views/user_scenario.py
  backend/app/models/team.py
  backend/app/models/template_scenario.py
  backend/app/models/user_scenario.py
Labels: Backend

#331 307 read data from question collection
  frontend/src/components/Question.jsx
  frontend/src/pages/Simulation.jsx
Labels: Frontend

#334 task: #333 - adding register page and updating login page
  frontend/src/Routing.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/Register.jsx
Labels: Frontend

#342 task: #341 - removing userRepeatPassword state
  frontend/src/pages/Register.jsx
Labels: Frontend

#344 343 modal enforce start click
  frontend/src/pages/Simulation.jsx
Labels: Frontend

#348 task: #347 - revamping modal overlay
  frontend/src/pages/Simulation.jsx
Labels: Frontend

#349 task: #197 - moving landing to unauthenticated and adding bg images t…
  frontend/src/Routing.jsx
  frontend/src/images/landing_bg.svg
  frontend/src/pages/Landing.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/Register.jsx
Labels: Frontend

#352 task: #351 - fixing routing for scenario
  frontend/src/Routing.jsx
Labels: Frontend

#359 Feature: 319 Member Task-Work Logic
  backend/app/models/task.py
  backend/app/models/team.py
  backend/app/src/simulation.py
  backend/app/src/util/util.py
Labels: Backend

#368 Feature: 277 Scoring Logic
  backend/app/models/team.py
  backend/app/src/simulation.py
  backend/app/src/util/score_util.py
  backend/history/util/result.py
Labels: Backend

#367 feature: #366 Special Check for Last SimulationFragment
  backend/app/api/views/template_scenario.py
  backend/app/models/simulation_fragment.py
  backend/app/src/util/simulation_util.py
Labels: Backend

#357 Feature/317 training logic
  backend/app/models/team.py
  backend/app/src/simulation.py
  backend/app/src/util/simulation_util.py
Labels: Backend

#380 Feature: #360 Delete Tasks when sim is done
  backend/app/dto/response.py
  backend/history/util/result.py
Labels: Backend

#386 db: #385 Initial SQL Migration
  .gitignore
  backend/app/migrations/0001_initial.py
  backend/app/migrations/0002_initial.py
  backend/custom_user/migrations/0001_initial.py
  backend/history/migrations/0001_initial.py
Labels: Backend

#395 393 data exchange simulation fragment
  frontend/src/components/Action.jsx
  frontend/src/components/ActionSelect.jsx
  frontend/src/components/Simulation/Actions/Action.jsx
  frontend/src/components/Simulation/Actions/ActionSelect.jsx
  frontend/src/components/Simulation/Actions/ActionSlider.jsx
  frontend/src/components/Simulation/Actions/ActionSwitch.jsx
  frontend/src/components/Simulation/Actions/ActionToggle.jsx
  frontend/src/components/Simulation/Actions/Question.jsx
  frontend/src/pages/Simulation.jsx
Labels: Frontend

#399 feature: #397 Added Team Average Stats to Responses
  backend/app/dto/response.py
  backend/app/models/team.py
  backend/app/src/simulation.py
  backend/history/util/result.py
Labels: Backend

#400 task: #396 - adding skilltype selection
  frontend/src/components/Simulation/Actions/Skilltype.jsx
  frontend/src/pages/ScenarioOverview.jsx
  frontend/src/pages/Simulation.jsx
Labels: Frontend

#407 Feature: #276 Handle scoring for Questions
  backend/app/migrations/0003_userscenario_question_points.py
  backend/app/models/user_scenario.py
  backend/app/src/simulation.py
  backend/app/src/util/question_util.py
  backend/app/src/util/score_util.py
  backend/history/serializers/history.py
Labels: Backend

#410 feature: #382 Add new fields to skill type model
  backend/app/migrations/0003_skilltype_development_quality_and_more.py
  backend/app/migrations/0004_merge_20220619_1608.py
  backend/app/models/team.py
Labels: Backend

#417 task: #415 - adding result page and components
  frontend/src/components/Simulation/Result/Result.jsx
  frontend/src/components/Simulation/Result/ResultElement.jsx
  frontend/src/pages/Simulation.jsx
Labels: Frontend

#423 added scenario.id to overview list
  frontend/src/pages/ScenarioOverview.jsx
Labels: Frontend

#441 task: #440 - implemented reset password page, added routing, fixed regex
  frontend/src/Routing.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/Register.jsx
  frontend/src/pages/ResetPassword.jsx
Labels: Frontend

#442 task: #420 - integrate finish button
  frontend/src/pages/Simulation.jsx
Labels: Frontend

#443 task: #420 - fixing displaying error
  frontend/src/pages/Simulation.jsx
Labels: Frontend

#446 task: #438 - keeping values for bugfixing, unittesting, integrationte…
  frontend/src/components/Simulation/Actions/Action.jsx
  frontend/src/pages/Simulation.jsx
Labels: Frontend

#447 task: #202 improve gdpr page layout
  frontend/src/pages/GDPR.jsx
  frontend/src/pages/Imprint.jsx
Labels: Frontend, GDPR

#454 task: #453 - adding tooltip and fixing calculation for showing button
  frontend/src/pages/Simulation.jsx
Labels: Frontend

#465 Feature: #450 Session Caching
  backend/app/api/views/simulation.py
  backend/app/cache/scenario.py
  backend/app/migrations/0009_merge_20220628_1911.py
  backend/app/models/task.py
  backend/app/models/team.py
  backend/app/src/simulation.py
  backend/app/src/util/question_util.py
  backend/app/src/util/scenario_util.py
  backend/app/src/util/simulation_util.py
  backend/history/util/result.py
Labels: Backend

#470 task: #444 - implement end api call
  frontend/src/components/Footer.jsx
  frontend/src/pages/Simulation.jsx
Labels: Frontend
