Repository softDsim/softDsim, pull requests merged in 2022-07, with the labels that each got.

#477 Feature: 476 Simulate Integration Tests
  backend/app/models/team.py
  backend/app/src/simulation.py
  backend/app/src/util/simulation_util.py
  frontend/src/components/ScenarionStudio/scenarioStudioData.js
  frontend/src/components/Simulation/Actions/Action.jsx
  frontend/src/pages/Simulation.jsx
Labels: Backend, Frontend

#479 fix: #478 Fix delayed status
  backend/app/src/simulation.py
  backend/app/src/util/member_util.py
  backend/app/src/util/task_util.py
  backend/history/util/result.py
Labels: Backend

#481 469 implement basic event functionality
  frontend/src/components/Simulation/Event/Event.jsx
  frontend/src/pages/Simulation.jsx
Labels: Frontend

#483 fix: #480 fix end request handling
  backend/app/src/util/scenario_util.py
  backend/app/src/util/simulation_util.py
Labels: Backend

#485 482 accept privacy policy checkbox for login
  frontend/src/pages/Login.jsx
Labels: Frontend

#487 task: #486 - adding addUsers page and removing links to self register
  frontend/src/Routing.jsx
  frontend/src/pages/AddMultipleUsers.jsx
  frontend/src/pages/Landing.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/UserOverview.jsx
Labels: Frontend

#490 fixed migrations
  backend/app/migrations/0009_merge_20220628_1821.py
Labels: Backend

#511 task: #510 - fixing styling issues
  frontend/src/components/AddUser.jsx
Labels: Frontend

#514 task: #513 Final Changes to Legal Pages
  frontend/src/components/Footer.jsx
  frontend/src/pages/GDPR.jsx
  frontend/src/pages/Imprint.jsx
Labels: Frontend, GDPR

#517 task: #516 - fixing event next click issue
  frontend/src/pages/Simulation.jsx
Labels: Frontend

#520 Add files via upload
  docs/graphics/action_element.png
  docs/graphics/action_inspector_form.png
  docs/graphics/action_slider.png
  docs/graphics/action_switch.png
  docs/graphics/action_toggle.png
  docs/graphics/actions.png
  docs/graphics/add_multiple_users.png
  docs/graphics/add_user.png
  docs/graphics/app.png
  docs/graphics/base_inspector_form.png
  docs/graphics/component_tab.png
  docs/graphics/component_tab_element.png
  docs/graphics/context.png
  docs/graphics/delete_button.png
  docs/graphics/editor_base_component.png
  docs/graphics/editor_list_component.png
  docs/graphics/event.png
  docs/graphics/event_inspector_form.png
  docs/graphics/footer.png
  docs/graphics/fragment_inspector_form.png
  docs/graphics/inspector_empty.png
  docs/graphics/inspector_item_selector.png
  docs/graphics/inspector_list_element.png
  docs/graphics/landing.png
  docs/graphics/login.png
  docs/graphics/markdown_text_field_large.png
  docs/graphics/markdown_text_field_small.png
  docs/graphics/model_selection.png
  docs/graphics/model_selection_inspector_form.png
  docs/graphics/navbar.png
  docs/graphics/not_found_page.png
  docs/graphics/question.png
  docs/graphics/question_answer.png
  docs/graphics/question_element.png
  docs/graphics/question_inspector_form.png
  docs/graphics/questions_inspector_form.png
  docs/graphics/register.png
  docs/graphics/reset_password.png
  docs/graphics/result.png
  docs/graphics/result_element.png
  docs/graphics/scenario_overview.png
  docs/graphics/scenario_studio.png
  docs/graphics/simulation.png
  docs/graphics/skilltype.png
  docs/graphics/skilltype_container.png
  docs/graphics/user_overview.png
Labels: Frontend
