Repository softDsim/softDsim, pull requests merged in 2022-05, with the labels that each got.

#82 task: #81 Restructure react app
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.jsx
  frontend/src/App.test.js
  frontend/src/components/Navbar.jsx
  frontend/src/images/logo.svg
  frontend/src/index.jsx
  frontend/src/pages/Landing.jsx
Labels: Frontend

#118 feature: #106 simulation page initial structure
  frontend/package-lock.json
  frontend/src/App.jsx
  frontend/src/pages/Simulation.jsx
Labels: feature, Frontend

#121 task: #120 Added response msg for invalid skill-type
  app/api/views/team.py
Labels: Backend

#124 feature: #123 Added model for `SceanrioConfig`
  app/api/views/scenario_config.py
  app/api_endpoints.py
  app/models/scenario_config.py
  app/serializers/scenario_config.py
Labels: Backend

#130 Feature/122 user scenario model
  app/api/endpoint_test.py
  app/api/security/security_view.py
  app/api/views/decision_view.py
  app/api/views/management_goal_view.py
  app/api/views/scenario_view.py
  app/api/views/template_scenario_view.py
  app/api/views/user_scenario.py
  app/api_endpoints.py
  app/models.py
  app/models/__init__.py
  app/models/action_model.py
  app/models/decision_models/__init__.py
  app/models/decision_models/answer_model.py
  app/models/decision_models/decision_model.py
  app/models/management_goal_model.py
  app/models/simulation_models/__init__.py
  app/models/simulation_models/score_card_model.py
  app/models/simulation_models/simulation_model.py
  app/models/team.py
  app/models/template_scenario_model.py
  app/models/text_block_model.py
  app/models/user_scenario.py
  app/serializers/action_serializer.py
  app/serializers/answer_serializer.py
  app/serializers/decision_serializer.py
  app/serializers/management_goal_serializers.py
  app/serializers/scenario_serializers.py
  app/serializers/score_card_serializer.py
  app/serializers/simulation_serializers.py
  app/serializers/team.py
  app/serializers/template_scenario_serializer.py
  app/serializers/text_block_serializer.py
  app/serializers/user_scenario.py
  app/serializers/user_serializers.py
  app/src/decision_tree.py
  config.py
Labels: Backend

#139 Feature/122 user scenario model
  app/api/views/user_scenario.py
  app/api_endpoints.py
  app/models/user_scenario.py
  app/serializers/user_scenario.py
Labels: Backend

#154 task: #150 Fix random shadow and container size
  frontend/src/pages/Simulation.jsx
Labels: task, Frontend

#162 task: #161 Add page links for imprint & GDPR
  frontend/src/App.jsx
  frontend/src/components/Footer.jsx
Labels: Frontend

#185 task: #164 Write Content for Imprint
  frontend/src/pages/Imprint.jsx
  frontend/src/theme.js
Labels: task, Frontend

#188 feature: 186 added endpoint to start user scenario
  app/api/endpoints.py
  app/api/simulation.py
  app/models/user_scenario.py
  softDsim/urls.py
Labels: Backend

#191 task: 171 Create Input Elements for Dashboard
  frontend/src/pages/Simulation.jsx
Labels: task, Frontend

#203 task: #163 setup gdpr content
  frontend/src/pages/GDPR.jsx
Labels: task, Frontend

#208 Feature: #187 continue endpoint
  app/api/endpoints.py
  app/api/simulation.py
  app/dto/__init__.py
  app/dto/request.py
  app/dto/response.py
  app/models/team.py
  app/scripts/scenario_studio.py
  app/src/integration_test.py
  app/src/member_util.py
  app/src/simulation.py
  app/src/task_util.py
  app/src/user_scenario_util.py
  app/src_deprecated/__init__.py
  app/src_deprecated/dataObjects.py
  app/src_deprecated/decision_tree.py
  app/src_deprecated/factories.py
  app/src_deprecated/history.py
  app/src_deprecated/integration_test.py
  app/src_deprecated/scenario.py
  app/src_deprecated/scenario_overview.py
  app/src_deprecated/scorecard.py
  app/src_deprecated/simulation.py
  app/src_deprecated/task.py
  app/src_deprecated/task_queue.py
  app/src_deprecated/team.py
  app/views/instructor.py
  app/views/rest.py
  app/views/util.py
  mongo_models.py
  tests/test_api/test_api.py
  tests/test_database/test_mongodb.py
  tests/test_integration/test_scenario_scoring.py
  tests/test_integration/test_team.py
  tests/test_integration/test_team_communication.py
  tests/test_unit/test_scenario.py
  tests/test_unit/test_scorecard.py
  tests/test_unit/test_task.py
  tests/test_unit/test_task_queue.py
  tests/test_unit/test_util.py
  utils.py
Labels: Backend

#220 task: #219 - adding login on enter and feedback on button while attem…
  frontend/src/pages/Login.jsx
Labels: Frontend

#222 task: #221 - Simplifying Dropdown Menu
  frontend/src/components/Navbar.jsx
Labels: Frontend

#214 Refactor: #213 Changed to class-based endpoints
  backend/app/api/endpoints.py
  backend/app/api/views/simulation.py
Labels: refactor, Backend

#215 fix: #135 remove validator from member model
  backend/app/models/team.py
Labels: Backend

#249 task: #218 create basic action components
  frontend/src/components/ActionSlider.jsx
  frontend/src/components/ActionSwitch.jsx
  frontend/src/components/ActionToggle.jsx
  frontend/src/components/RadioButton.jsx
  frontend/src/pages/Simulation.jsx
Labels: Frontend
